.not-visible{
    display:none
}

.dz{
    border-style: dashed;
    border-color: #ddd;
    border-radius: 5px;
    transition: .5s;
}

.dz.hover{
    background-color: #f5f5f5;
}

.avatar-big{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.logo-sm{
    height: 50px;
    width: auto;
}

.avatar-sm{
    height: 40px;
    width:40px;
    border-radius: 50%;
}