{% extends "base.html" %}

{% block title %}
    reports
{% endblock title %}

{% block content %}
    reports
    <hr>
    {% for obj in object_list %}
        <div class="card mb-3">
            {% if obj.image %}
                <img src="{{obj.image.url}}" class="card-img-top" alt="{{obj.name}}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{obj.name}}</h5>
                <p class="card-text">{{obj.remarks|truncatewords:2}}</p>--> 
                <a href="{{obj.get_absolute_url}}" class="btn btn-primary">details</a>
                <a href="{% url 'reports:pdf' obj.pk %}" class="btn btn-danger">pdf</a>
            </div>
        </div>
    {% endfor %}
{% endblock content %}